    <%if @event.avatar.attached?%>
        <%= image_tag @event.avatar, alt: 'avatar', width:'630', height:'260', style:'z-index: 0; width: 100%; heigth: 40%; margin-bottom: 10px;' %>
        <%else%>
        <img align="left" class="fb-image-lg" style='z-index: 0; width: 100%; heigth: 40%; margin-bottom: 10px;' src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
    <%end%>  

<div style="width:500px; margin: auto">
    <%= simple_form_for @event do |f| %>
            <%= f.error_notification %>
            <%= f.input :title %>
            <%= f.input :description%>
            <%= f.input :start_date %>
            <%= f.input :price%>
            <%= f.input :location %>
            <%= f.input :avatar, as: :file %>
            <%= f.button :submit, class: "btn-primary" %>
            <% end %>
</div>

</div>

      <%# t.datetime :start_date
      t.integer :duration
      t.string :title
      t.text :description
      t.integer :price
      t.string :location
      t.references :admin, index: true %>
