
<div class="jumbotron jumbotron-fluid d-flex align-items-center py-5 bg-dark" style="height:200px ;background-color: url(https://images;background-position: center center">
    <div class="container">
    <h1 class="display-3 ; text-light">Crée ton évènement</h1>
    </div>
</div>

<div style="width:500px; margin: auto">
    <%= simple_form_for @event do |f| %>
            <%= f.error_notification %>
            <%= f.input :title %>
            <%= f.input :description%>
            <%= f.input :start_date %>
            <%= f.input :price%>
            <%= f.input :location %>
            <%= f.input :avatar, as: :file %>
            <%= f.button :submit, class: "btn-primary" %>
            <% end %>
</div>

      <%# t.datetime :start_date
      t.integer :duration
      t.string :title
      t.text :description
      t.integer :price
      t.string :location
      t.references :admin, index: true %>
