
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

</head>
  
     <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active"><%=@event.title%></li>
    </ol>
    
    <h1 class="mt-4 mb-3"><%=@event.title%>
      <% e = @event.start_date%>
      <small><%= e.strftime("le %m/%d/%Y") %></small>
    </h1>


    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <%if @event.avatar.attached?%>
        <%= image_tag @event.avatar, class:'img-fluid', alt: 'picture', width:'auto', height:'auto'%>
        <%else%>
        <img src='https://images.unsplash.com/photo-1484494789010-20fc1a011197?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80)' class='img-fluid' alt= 'picture'  width='auto' height='auto'>
        <%end%>
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p><%=@event.description%></p>
        <h3 class="">Les infos</h3>
            <h6>Lieu: <%=@event.location%></h6>
            <h6>Prix: <%=@event.price%>€</h6> 
            <h6>Créateur: <%=@event.admin.email%></h6>

            <div class='button'>    
                <% @owner = @event.admin %>
                <% if current_user == @owner %>
                <p><a class="btn btn-secondary" href="<%=edit_event_path(@event)%>" role="button">Editer l'évènement &raquo;</a></p>
                <%end%>            
            </div>
      </div>

      

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
                   <br></br>
                <br></br>
<h3>Tes autres évènements</h3>

<%events = Event.where(admin: current_user.id) %>
    <div class="card-columns">
        <%events.each_with_index do |event| %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> <%=event.title%></h5>
                    <h5>Date : <%=event.start_date%></h5>
                    <h5>Lieu : <%=event.location%></h5>
                    <p><a class="btn btn-secondary" href="<%=event_path(event)%>" role="button">En savoir plus &raquo;</a></p>
                </div>
            </div>
        <%end%>
    </div>
    <!-- /.row -->

